* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('moon.png'); /* Same background as login page */
    background-size: cover;
    background-position: center;
}

.glass-container {
    width: 400px; /* Slightly wider for the profile form */
    height: 490px;
    position: relative;
    z-index: 1;
    background: #0000001a(255, 255, 255, 0); /*Transparent white background */
    border-radius: 20px;
    border: 1px solid #0000001a(11, 11, 11, 0.066);
    overflow: hidden; /* Ensure child elements stay inside the rounded box */
    backdrop-filter: blur(8px); /* Increase blur for stronger effect */
    -webkit-backdrop-filter: blur(8px); /* Safari support */
    box-shadow: 0 4px 6px #0000001a(0, 0, 0, 0.1);
}

.profile-container {
    max-width: 380px;
    margin: 0 auto;
    text-align: left;
    padding: 10px; /* Add padding inside the box */
}

.profile-box {
    max-width: 380px;
    margin: 0 auto;
    text-align: center;
    padding: 20px; /* Add padding inside the box */
}

label{
    color:black;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 22px;
}

label1{
    color:white;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 22px;
}
h1 {
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

input, textarea {
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    background: rgba(150, 150, 150, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.7);
    color: #ffffff;
    font-size: 13px;
}

input::placeholder, textarea::placeholder {
    color: #ffffff;
}

textarea {
    resize: none;
    height: 80px;
}

input:focus, textarea:focus {
    outline: none;
    border-color: white;
}

button {
    background: #fff;
    color: #000000;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background: transparent;
    color: white;
    outline: 1px solid #fff;
}

.secondary-button {
    background: transparent;
    color: white;
    outline: 1px solid #fff;
    margin-top: 10px;
}

.secondary-button:hover {
    background: #fff;
    color: #000000;
}

p {
    font-size: 15px;
    color: #fff;
    margin-top: 20px;
}
